<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Uni-Tech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <!--<img class="logo" src="green.png">-->
         <h1 class="logo-name"><span class="firstpart-logoname">UNI</span><span class="logo-connector">-</span><span class="lastpart-logoname">TECH</span></h1>
        </div>
        <div class="header-right">
          <a href="login.html" class="login">LOGIN</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>REAL TECH</h1>
        <h1>FOR REAL PEOPLE.</h1>
        <p>UniTech, Uniting Technologies.</p>
        <div class="btn-wrapper">
          <a href="signup.html" class="btn signup">Sign up</a>
        </div>
      </div>
    </div>
    <div class="intro-wrapper">
      <div class="container">
        <div class="heading">
          <h2>Join us on an adventure of technological discoveries!</h2>
        </div>
        <div class="intro">
          <div class="intro-left">
            <p class="txt-contents">Hello-Left</p>
          </div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
    </div>
    <footer class="footer">
        <p>&copy; <span class="firstpart-logoname">UNI</span><span class="logo-connector">-</span><span class="lastpart-logonamefooter">TECH</span> 2018</p>
      </footer>
  </body>
</html>  